
body {
    padding:0;
    margin:0;
}

/* Page d'accueil */

#navbar {
    position:sticky;
    top:0;
    height:6vmin;
    width:100vw;
    z-index:5;
    background-color:lightgray;
}

#log-buttons {
    position: absolute;
    top:2vh;
    right:2vw;
}

#log-button p {

}

#goto-login-form, #goto-deconnect {
    text-decoration:none;
    padding:1vmin 1vmax;
    color:black;
    font-weight:bold;
    font-size:16px;
}

#categories-buttons {
    position: absolute;
    left:40%;
    z-index:10;
}

#category-tech, #category-code, #category-video-games, #category-series, #category-science {
    padding: 2vmin 2vmin;
    background-color:white;
    border: 2px solid black;
    border-top:none;
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    margin-top:-1px;
}

#category-tech:hover, #category-code:hover, #category-video-games:hover, #category-series:hover, #category-science:hover {
    background-color:black;
    color:white;
}

#category-tech {
    background-color:lightblue;
}

#category-code {
    background-color:lightcoral;
}

#category-video-games {
    background-color:lightgreen;
}

#category-series {
    background-color:lightyellow;
}

#category-science {
    background-color:burlywood;
}


/* Page de Login */

#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
}

#user-register-submit {
    border: 1px black solid;
    padding:2vh 1vw;
    background-color:white;
    cursor:pointer;
    font-weight:bold;
    font-size:14px;
}

#user-register-submit:hover {
    background-color:black;
    color:white;
}

#goto-add-user {
    border: 1px black solid;
    text-decoration:none;
    padding:2vh 1vw;
    color:black;
    font-weight:bold;
    font-size:16px;
}

#goto-add-user:hover {
    background-color:black;
    color:white;
}

#input-username, #input-password {
    margin:1vmin;
    border:1px solid black;
    padding:1vh 1vw;
}

#input-username:focus::placeholder, #input-password:focus::placeholder {
    color:transparent;
}

#login-flex-row {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:2vh;
}

#connect-title {
    margin:auto;
    margin-bottom:2vh;
}

#error-message {
    color:red;
    font-size:16px;
    font-weight:bold;
}


/* Page Register */

#add-user-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
}


#radio-register-role {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin: 2vh 0;
}

#user-name-input, #user-email-input, #password-input, #firstname-input, #lastname-input {
    margin:1vmin;
    border:1px solid black;
    padding:1vh 1vw;
}

#form-add-submit {
    margin:1vmin;
    border:1px solid black;
    padding:1vh 0.5vw;
    background-color:white;
    font-weight:bold;
    font-size:14px;
}

#form-add-submit:hover {
    background-color:black;
    color:white;
}




/* Page Validation Ajout Utilisateur */

#user-added-finish {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user-added-confirm {
    font-size:18px;
    font-weight:bold;
}