body {
  padding: 0;
  margin: 0;
}

/* Page d'accueil */

#navbar {
  position: sticky;
  top: 0;
  height: 10vmin;
  width: 100vw;
  z-index: 5;
  background-color: lightgray;
}

#log-buttons {
  position: absolute;
  top: 2vh;
  right: 2vw;
}

#admin-buttons {
  position: absolute;
  top: 2vh;
  left: 2vw;
}

#redac-buttons {
  position: absolute;
  top: 2vh;
  left: 14vw;
}

#admin-button {
  text-decoration: none;
  position: relative;
  display: flex;
  border: 1px black solid;
  padding: 1vh 0.5vw;
  width: 9vw;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0vh;
  margin-bottom: 5vh;
}

#redac-button {
  text-decoration: none;
  position: relative;
  display: flex;
  border: 1px black solid;
  padding: 1vh 0.5vw;
  width: 9vw;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5vh;
}

#log-button p {
}

#home-button-input {
  position: absolute;
  top: 2.5vh;
  left: 49%;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

#home-button-input:hover {
  color: red;
  font-size: 26px;
}

#goto-login-form,
#goto-deconnect,
#admin-pannel-button {
  text-decoration: none;
  padding: 1vmin 1vmax;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

#categories-buttons {
  position: relative;
  display: flex;
  left: 36%;
  z-index: 2;
  max-width: 50vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

#category-tech,
#category-code,
#category-games,
#category-series,
#category-science {
  padding: 2vmin 2vmin;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-right: 1.5vh;
  margin-left: 1.5vh;
}

#category-tech:hover,
#category-code:hover,
#category-games:hover,
#category-series:hover,
#category-science:hover {
  background-color: black;
  color: white;
}

#category-tech {
  background-color: lightblue;
}

#category-code {
  background-color: lightcoral;
}

#category-games {
  background-color: lightgreen;
}

#category-series {
  background-color: lightyellow;
}

#category-science {
  background-color: burlywood;
}

/* Page de Login */

#login-whole-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

#user-login-submit {
  border: 1px black solid;
  padding: 2vh 1vw;
  width: 10vw;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#user-login-submit:hover {
  background-color: black;
  color: white;
}

#goto-add-user {
  border: 1px black solid;
  text-decoration: none;
  padding: 2vh 1vw;
  color: black;
  width: 10vw;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#goto-add-user:hover {
  background-color: black;
  color: white;
}

#input-username,
#input-password {
  margin: 1vmin;
  border: 1px solid black;
  padding: 1vh 1vw;
}

#input-username:focus::placeholder,
#input-password:focus::placeholder {
  color: transparent;
}

#login-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
}

#connect-title {
  margin: auto;
  margin-bottom: 2vh;
}

#error-message {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

/* Page Register */

#add-user-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

#radio-register-role {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vh 0;
}

#user-name-input,
#user-email-input,
#password-input,
#firstname-input,
#lastname-input {
  margin: 1vmin;
  border: 1px solid black;
  padding: 1vh 1vw;
}

#form-add-submit {
  margin: 1vmin;
  border: 1px solid black;
  padding: 1vh 0.5vw;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
}

#form-add-submit:hover {
  background-color: black;
  color: white;
}

/* Page Validation Ajout Utilisateur */

#user-added-finish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#user-added-confirm {
  font-size: 18px;
  font-weight: bold;
}

/* Mise en page des articles */

#article-list {
}

.article-item {
  display: block;
  text-align: center;
  height: 25vh;
  margin-top: 50px;
}

/* Page Admin */

.admin-option {
  display: flex;
  flex-direction: column;
  height: 25vmin;
  width: 25vmin;
  border: solid black 1px;
  text-align: center;
  justify-content: center;
  margin: 5vmin;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#admin-article-option {
  color: white;
  background-color: red;
  border: white solid 1px;
}

#admin-article-option:hover {
  color: red;
  background-color: white;
  border: red solid 1px;
}

#admin-user-option {
  color: white;
  background-color: green;
  border: white solid 1px;
}

#admin-user-option:hover {
  color: green;
  background-color: white;
  border: green solid 1px;
}

#admin-picture-option {
  color: white;
  background-color: blue;
  border: white solid 1px;
}

#admin-picture-option:hover {
  color: blue;
  background-color: white;
  border: blue solid 1px;
}

#admin-unknown-option {
  color: white;
  background-color: yellow;
  border: white solid 1px;
}

#admin-unknown-option:hover {
  color: gold;
  background-color: white;
  border: gold solid 1px;
}

#pagination-nav {
  margin-top: 8vh;
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  max-width: 20vw;
  left: 106vmin;
}

#pagination-nav li {
  margin-right: 2vmin;
  font-weight: 19px;
}

/* Article detail */

#article-box {
  text-align: center;
  margin-top: 10vh;
}

.article-item h3 {
  font-size: 26px;
}

/* Icones categories */

.category-icon {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  top: 8vmin;
  left: 150vmin;
  width: 15vmin;
  height: 6vmin;
  border: solid black 1px;
  font-weight: bold;
}

.category-Tech {
  background-color: lightblue;
}

.category-Code {
  background-color: lightcoral;
}

.category-Games {
  background-color: lightgreen;
}

.category-Series {
  background-color: lightyellow;
}

.category-Science {
  background-color: burlywood;
}

.category-selected {
  border: solid red 3px !important;
}

/* Articles admin */

.delete-button {
  background-color: red;
  color: white;
  font-weight: bold;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  top: 7vmin;
  left: 70vmin;
  width: 5vmin;
  height: 5vmin;
}

/* Rediger Articles */

#article-form {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#input-title {
  margin-bottom: 5vh;
}

#category-buttons {
  margin-top: 5vh;
}
#category-buttons input {
  margin-right: 2.5vw;
}

#input-submit-article {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
